.sidenav {
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #b0e0e6; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    height: 100%;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
main,header,footer{
    width: 1000px;
    height: 100%;
    margin:0 auto;
    padding:0px 20px 20px 20px;
    position:relative;
    top:0px;
    height:100%;
}
#button{
    position: relative;
    float: right;
    top: -100px;
}
.icon{
    width: 50px;
    height: 50px;
}

.sharao{
    font-size: 15px;
    font-weight: bold;
}
footer {
    font-size: small;
    color: grey;
}
.archer{
    width: 500px;
    height: 300px;
}
#archer1{
    float:left;
}
#archer2{
    float: right;
}
#break{
    height: 100px;
    display: block;
}
table{
    height: 50px;
}